// begin colors
$darkestPrimary: rgba(16, 8, 42, 0.1);
$borderColor: #979797;
$lightBorderColor: #A7BBCB;
$heavyTextColor: #222222;
$darkPrimary: #251E3C;
$darkBg: #120f1e;
$lightMuted: #594c8b;
$lightSecondary: #A28EE1;
$lightestSecondary: #6934CF;
$primaryCallout: #6B49CE;
$formLabelText: #939598;
$errorText: #F7780C;
$whiteBg: #F4F7F9;
$lightText: #9CAFC8;

// end colors


$sidebarWidth: 350px;
$btnShadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
