@import "@ng-select/ng-select/themes/material.theme.css";

.calendar{
    display: flex;
    height: 100vh;
    overflow: hidden;

    &__ride{
        height: 100%;
        width: 50px;
        box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.6);
        background: #251E3C;
    }
    &__wrapper{
        padding: 56px;
        min-height: 100%;
        overflow-y: auto;
        background: #f4f7f9;
        width: calc(100% - 50px);
        /deep/ {
            .fc-toolbar.fc-header-toolbar{
                position: relative;
                width: 100%;
                // height: 50px;
                .fc-center{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    .fc-button-group{
                        position: absolute;
                        width: 145%;
                        left: 50%;
                        transform: translateX(-50%);
                        display: flex;
                        justify-content: space-between;
                        // .fc-icon-right-single-arrow:after{
                        //     content: '>';
                        // }
                        // .fc-icon-left-single-arrow:after{
                        //     content: '<';
                        // }
                        
                        button{
                            background: transparent;
                            border: none;
                            outline: none;
                            box-shadow: none;
                        }
                    }
                    h2{
                        margin: 0!important;
                    }
                    // display: none;
                }
                .fc-left{
                    // top: 0;
                    // left: 0;
                    // position: absolute;
                    .fc-button-group{
                        background: #E9EDF0;
                        border-radius: 20px;
                        .fc-button{
                            background: transparent;
                            border: none;
                            height: auto;
                            border-radius: 16px;
                            padding: 7px 20px;
                            cursor: pointer;
                            font-weight: 800;
                            box-shadow: none;
                            transition: background-color 0.3s ease;
                            outline: none;  
                            text-transform: capitalize;
                            &.fc-state-active{
                                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                                color: #6B49CE;
                                background: #fff;
                                padding: 7px 18px;
                            }
                        }
                    }
                }
            }
            .fc-head-container{
                border-top-color: #fff;
                border-left-color: #fff;
                border-right-color: #fff;
                border: none;
                .fc-widget-header{
                    // margin-right: 0px!important;
                    border-right-width: 0px!important;

                    .fc-axis {
                        padding: 0 20px;
                    }
                    .fc-day-header{
                        border: none;
                        padding: 20px 0px;
                        color: #CFD5DA;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: 12px;
                        font-weight: 800;
                        cursor: pointer;
                        &.fc-today{
                            span{
                                background: #6B49CE;
                                border-radius: 11.5px;
                                padding: 5px 9px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .fc-view-container{
                border: none;
                .fc-view{
                    .fc-body{
                        background: #FFFFFF;
                        box-shadow: 0px 4px 40px 2px rgba(142, 142, 142, 0.23);
                    }
                }
                .fc-widget-content{
                    border: none;
                    margin-right: -1px;
                    .fc-axis {
                        padding: 0 20px;
                    }
                    .fc-divider{
                        display: none;
                    }
                    .fc-day{
                        border: 1px solid #efefef;
                        position: relative;
                        &:after{
                            content: '';
                            display: block;
                            width: 100%;
                            position: absolute;
                            bottom: 0;
                            border-bottom: 1px solid #efefef;
                        }
                    }
                    .fc-today{
                        background: #F9F7FF;
                    }
                }
                .fc-time-grid {
                    td, th {
                        border: 1px solid #EFEFEF;
                    }
                    tr:not(.fc-minor){
                        .fc-widget-content{
                            border-bottom-color: transparent;
                            position: relative;
                        }
                    }
                    td.fc-time {
                        font-size: 12px;
                        border-color: #fff;
                        border-right-color: #EFEFEF;
                        span{
                            color: #d8d8d8;
                            text-transform: uppercase;
                            position: relative;
                            top: 9px;
                        }
                    }
                }
            }
            .fc-now-indicator {

                border-left-color: #6B49CE;
                &.fc-now-indicator-arrow{
                    display: none;
                }
                &:not(.fc-now-indicator-arrow){
                    border-top-color: #6B49CE;
                    width: calc(100% + 15px);
                    left: -15px;
                    &:before{
                        content: attr(data-time);
                        position: absolute;
                        top: -1px;
                        display: inline-block;
                        left: -26px;
                        font-size: 0.7em;
                        color: #6b49ce;
                        font-weight: 800;
                        transform: translate(-50%, -50%);
                    }
                }
                // border: 0px solid #6B49CE;
                // margin-top: -5px;
                // border-bottom-color: transparent;
                // border-top-color: transparent;
                // border-width: 5px 0 5px 6px;
                // &-line{
                //     border-top-width: 1px;
                //     left: 0;
                //     right: 0;
                // }
            }
            .fc-event{
                border-radius: 0;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                border: none;
                border-left: 3px solid #2694FF;
                padding-left: 5px;
                display: flex;
                color: #2694FF;
                align-items: center;
                background-color: #E9ECFE;
                box-shadow: 0px 0px 2px #ccc;
                transition: all 0.2s ease;
                .fc-content{
                    display: flex;
                    flex-direction: row-reverse;
                    flex-wrap: wrap;
                    align-items: flex-end;
                    .fc-title{
                        font-weight: 800;
                    }
                    .fc-time{
                        font-size: 1em;
                        &:before{
                            content: 'â€';
                            display: inline-block;
                            padding: 0 2px;
                            font-weight: 800;
                        }
                    }
                }
            }
        }
    }
}