<div class="calendar-header">

  <div class="entity-switcher">
    <button class="btn btn-date"
      *ngFor="let item of views"
      (click)="switchView(item.code)"      
      [ngClass]="{'active': item.code == view}"
    >{{item.name}}</button>
  </div>

  <div class="data-switcher">
    <i class="icon icon-arrow-left"
      (click)="switchData('prev')"
    ></i>
    <div class="current-data">
        <label class="month">{{ date.month }}</label>
        <label class="year">{{ date.year }}</label>
    </div>
    <i class="icon icon-arrow-right"
      (click)="switchData('next')"
    ></i>
  </div>

  <div class="drivers-switcher">
    <div class="dropdown">
      <label class="placeholder">
        All drivers
        <i class="icon icon-next"></i>
      </label>
      <ul>
        <li
          (click)="selectItem($event, -1)">
          <span class="circle circle-gray"></span>
          <span class="name">All drivers</span>
          <span class="circle circle-checkbox"
            [ngClass]="{'selected': getSelectedDrivers().length === drivers.length}"
          ></span>
        </li>
        <li *ngFor="let item of drivers; let i = index"
            (click)="selectItem($event, i)">
          <span class="circle circle-color"
                [style.background-color]="item.color"></span>
          <span class="name">{{item.name}}</span>
          <span class="circle circle-checkbox"
                [ngClass]="{'selected': item.selected}"
          ></span>
        </li>
      </ul>
    </div>
  </div>

  <div class="day-view-header" *ngIf="view === DAY_VIEW">
    <button class="btn btn-solid">+ Notes</button>
  </div>
</div>
